<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Catálogo de Películas</title>
    <link rel="stylesheet" href="/src/styles/styles.css">
</head>

<body>

<header>
    <img width="70px" src="https://i.pinimg.com/originals/4c/f0/97/4cf097a22a1002a4a5d4321e541512ca.png" alt=""><h1>Catálogo de películas para Ivo</h1>
</header>

<section id="main">
</section>


</body>




<script>

function capitalize(texto){
    return texto.charAt(0).toUpperCase() + texto.slice(1);
}


const services = ["netflix", "prime", "disney", "hbo", "apple", "paramount"]

// Me banearon la primera api del wifi de ort, toca cambiar.
const api_url = `https://streaming-availability.p.rapidapi.com/shows/top?show_type=movie&output_language=es&country=ar&service=`;

const main = document.getElementById("main")



for (let i of services){
    let catalogo = document.createElement("section");
    catalogo.classList.add("catalogo")
    catalogo.innerHTML = `<h2>Populares en ${capitalize(i)}</h2>`

    let peliculas = document.createElement("div")
    peliculas.classList.add("peliculas")

    let results = await fetch(`${api_url}${i}`, {
    method: 'GET',
    headers: {
        'X-RapidAPI-Key': 'd8d2967e62msh5455a32dc5a1562p1e7984jsnf3e1b854372f',
        'X-RapidAPI-Host': 'streaming-availability.p.rapidapi.com'
    }
    })
    results = await results.json();
    for (let p of results){
        peliculas.innerHTML = peliculas.innerHTML + `<div class="pelicula">
                                                        <img src="${p.imageSet.verticalPoster.w720}">
                                                        <p>${p.title}</p>
                                                    </div>`
    }
    catalogo.appendChild(peliculas);
    main.appendChild(catalogo)
}


fetch(api_url, {
  method: 'GET',
  headers: {
    'X-RapidAPI-Key': 'd8d2967e62msh5455a32dc5a1562p1e7984jsnf3e1b854372f',
    'X-RapidAPI-Host': 'streaming-availability.p.rapidapi.com'
  }
})
  .then(res => res.json())
  .then(data => console.log(data))
  .catch(err => console.error(err));
</script>
</html>